/* Pools Css Style*/
.poolsText {
    margin-top: 5rem;
    margin-left: 1.5rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
    color: rgb(157, 151, 151);
}

.container {
    height: 25rem;
    width: 60rem;
    border-radius: 40px;
    border: 1px solid gray;
    background-color: rgb(38, 7, 25);
    box-shadow:
            0rem -0.5rem 200px 20px rgba(143, 1, 108, 0.7);
}

.poolName {
    margin-top: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    color: bisque;
}

.poolsContainer {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.pool {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(164, 54, 98, 0.608);
    height: 15rem;
    width: 25rem;
    border-radius: 100px;
    border: 1px solid rgba(218, 165, 32, 0.357);
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.poolToken {
    color: rgb(245, 240, 240);
    font-weight: 600;
    font-size: 1.1rem;
}

.poolReserve {
    font-size: 1.9rem;
    font-weight: bold;
    color: goldenrod;
}

.price {
    font-size: 0.7rem;
}

.center {
    margin-top: 6rem;
}

.addLiquidityButton {
    margin-top: 1.5rem;
    text-align: center;
}
.addLiquidityButton > button {
    width: 16rem;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.4rem 0.8rem;
    background-color: rgb(207, 49, 204);
}
.addLiquidityButton > button:hover {
    transform: scale(1.05);
}
.share {
    margin-top: 2rem;
    font-size: 1.3rem;
    color: bisque;
}

/* Add Liquidity PopUp Css Style*/
.popupContainer {
    background-color: rgb(68, 22, 41);
    color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    width: 30rem;
    border-radius: 10px;
    border: solid 1px rgb(76, 75, 75);
}
.header {
    border-bottom: 1px solid gray;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    padding: 0.7rem;
}
.pairColor {
    color: goldenrod;
}
.content {
    text-align: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1.9rem;
    padding-right: 1.9rem;
}
.infoContainer {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
    text-align: left;
    font-weight: bold;
}
.infoButton {
    margin-left: 0.5rem;
    margin-top: 0.1rem;
}
.infoPopUpContent {
    padding: 0.3rem;
    background-color: white;
    width: 10rem;
    color: rgb(42, 13, 25);
    border-radius: 2px;
    border: none;
}
.infoMessage {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.addTokenDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(128, 128, 128, 0.629);
    border-radius: 4px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: 1.5rem;
}
.xlaName {
    margin-left: 1.5rem;
    font-size: x-large;
    font-weight: bolder;
    color: goldenrod;
}
.addTokenContainer {
    text-align: right;
}
.addTokenContainer > input {
    outline: none;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    text-align: right;
    font-weight: bold;
    width: 60%;
    background-color: transparent;
    border: none;
    color: wheat;
}
.addTokenContainer > input::placeholder {
    color: gray;
}
.addTokenContainer > input::-webkit-outer-spin-button,
.addTokenContainer > input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.addTokenContainer > input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.addTokenContainer > p {
    font-size: 0.85rem;
    color: rgb(242, 231, 218);
}
.buttonContainer {
    display: flex;
    justify-content: center;
}
.button {
    height: 1.9rem;
    width: 10rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: 1.1rem;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    font-weight: bold;
    background-color: rgb(207, 49, 204);
    color: white;
    border: 1px solid rgb(59, 9, 9);
    border-radius: 5px;
}
.button:hover {
    background-color: rgb(253, 3, 249);
}
.buttonWhenAdding {
    height: 1.9rem;
    width: 10rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-size: 1.1rem;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    font-weight: bold;
    background-color: rgb(207, 49, 204);
    color: white;
    border: 1px solid rgb(59, 9, 9);
    border-radius: 5px;
}
.close {
    cursor: pointer;
    outline: none;
    color: red;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}