.header {
  display: flex;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 7rem;
  align-items: center;
  margin-top: 1.8rem;
}

.pages {
  display: flex;
  color: bisque;
}
  
.link {
  margin-right: 2rem;
}
.link:hover {
  color: rgb(247, 158, 49);
}
  
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.textContainer {
  margin-top: 6rem;
  text-align: center;
  filter: drop-shadow(0 0 0.3rem rgba(255, 0, 191, 0.725));
}
.textContainer > h2 {
  font-size: 2rem;
}
.textContainer > h3 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-style: italic;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-top: 5.5rem;
  margin-bottom: 3rem;
}

.image {
  width: 10rem;
}